body{
  margin:10px auto;
  width:65%;
  height: auto;
  background-color: aliceblue;
}
.image{
  width: auto;
  height: auto;
  border: 1px solid blueviolet;
  float: left;
  text-align: center;
  margin: 5px
}
img{
  margin: 5px;
}
.text{
  margin-bottom: 3px;
  font-size: 9px;
}
a:hover{
  background-color: brown;
}