div{
  width: 100px;
  height:100px;
  position: relative;
  background-color: red;
  animation: anim 5s infinite alternate;
  -webkit-animation: anim 5s infinite alternate;
}

@keyframes anim{
  0%{background:red;left: 0px;top:0px}
  25%{background:rgb(30, 185, 139);left: 200px;top:0px}
  50%{background:rgb(24, 33, 155);left: 200px;top:200px}
  75%{background:rgb(170, 49, 160);left: 0px;top:200px}
  100%{background:red;left: 0px;top:0px}
}

@-webkit-keyframes anim{ /*适配谷歌*/
  0%{background:red;left: 0px;top:0px}
  25%{background:rgb(30, 185, 139);left: 200px;top:0px}
  50%{background:rgb(24, 33, 155);left: 200px;top:200px}
  75%{background:rgb(170, 49, 160);left: 0px;top:200px}
  100%{background:red;left: 0px;top:0px}
}